	.table {
		height: 97%;//98.5%;
		width: 97%;//99%;
		border: 0px solid /*#f00*/;
	}
	.row {display:table-row;
		height: 100px;
		width: 100px;
		border: 5px solid #fff;
	}
	.cell {
		/*	border: 100px solid #000;
		text-align:center;
		*/
		height: 20px;
		width: 20px;
		display:table-cell;
		border: 0px solid #00f;
		vertical-align:middle;
	}
	tr{
		align:center;
		text-align:center;
	}
	hr{
		margin: 0 40;
		height: 1px;
		color: gray;
		border: 0px solid #0f0;
		clear: both;
		background-color:black;
	}
	td{
		background-repeat: no-repeat repeat;
		background-position: center center;
	}
	h3{
	text-align: center;
	}
	
	#lay_materials_tables {
	margin: 0 auto;
	display:none;
	}
	#coatings_table {
	margin: 0 auto;
	display: none;
	}
	.endDiv {
	clear: both;
	}
    div.middle {
        margin:auto;
        text-align: center;
        /*width: 1500;*/
	}
    .blueWhenHover:hover{
        color: darkblue;
    }
    #numericSeparatorDiv{
        background: darkorange;
    }
    #XValueDiv{
        background: green;
    }
    #readXUntilDiv{
        background: palevioletred;
    }
    #firstGreyBackgroundDiv{
        background: grey;
    }
    #readYAfterDiv, #readXAfterDiv{
        background: palevioletred;
    }
    #YValueDiv{
        background: green;
    }
    #readYUntilDiv{
        background: palevioletred;
    }
    #secondGreyBacgroundDiv{
        background: grey;
    }
    #result {
        /*margin: 0 auto;*/
        /*width: 1500;*/
        display: inline;
        display: inline-block;
	}
    #forGraphic {
        margin: 0 200px 0 200px;
        /*display: inline-block;*/
        text-align: middle;
        border: solid;
        border-color: #aaa;
        border-width: 1px;
        padding: 1px;
        width: 1050px;
        /*position:absolute;*/

    }
    #forGraphic2 {
        display: inline-block;
        text-align: left;
        margin: 1px;
        overflow: visible;
    }
    #yCaption{
        font-weight: bold;
    }
    .rightText{
        text-align: right;
        font-weight: bold;
    }
    div.right{
        float:right;
        text-align: right;
        background-color:  #ccd;
        border: solid;
        border-color: #aaa;
        border-width: 1px;
        /*border-style: groove;*/
    }
    #glassForGraphic{
        opacity: 0.3;
        z-index: 1;
    }
    /**/#graphic{

        position: absolute;
        /*opacity: 0.5;*/
    }
    /**/
    #leftOfTheGraphic{
        float:left;
        /*width: 200;*/
        width: 199px;
        overflow: auto;
        border: 1px solid #aaa;
    }
    #rightOfTheGraphic{
        float:right;
        /*width: 200;*/
        width: 199px;
        overflow: auto;
        border: 1px solid #aaa;
        position: relative;
        text-align: inherit;
        font-family: Geneva, Arial, Helvetica, sans-serif;
    }
    span.sample{
        border: 5px solid #ccd;
        padding: 2px;
        display: inline-block;
        margin: 1px;
    }
    .dataFormat{
        border: 10px solid #ccd;
        background: #ccd;
        padding: 2px;
        display: inline-block;
        margin: 1px;
        wrap: hard;
    }
    .customDataFormat{
        border: 1px solid #0000ff;
        background: #ccd;
        padding: -1px;
        display: inline-block;
        margin: -2px;
        wrap: hard;
        height: 80px;
    }
    div.dataFormat:hover{

        border: 10px solid blue;
        background: blue;
        padding: 2px;
        display: inline-block;
        margin: 1px;
        color: yellow;
    }
    #header, #footer{
        color: grey;
        text-align: center;
    }
    .paragraph{
        font-weight: bold;
        font-size: large;
    }
    :link, :visited{
        color: inherit;
        text-decoration: none;
    }
    .leftText{

        text-align: left !important;
    }
    #rightOfTheGraphic:hover{
        color: darkblue;
    }
    div.extraApplication{
        border: 2px solid #ccd;
        background: #eee;
        padding: 2px;
        display: inline-block;
        margin: 1px;
        wrap: hard;
    }
    span.znachenie{
        color: green;
    }